site_name: My Python Journey Blog
site_description: Notes on learning Python, data engineering, and building things in public.
site_url: https://djbambi.github.io/my-python-journey-blog/

theme:
  name: material
  custom_dir: overrides

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - navigation.footer
    - navigation.indexes
    - content.tooltips
    - content.code.copy

  icon:
    logo: fontawesome/solid/w

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

copyright: Copyright &copy; 2025 David Bambrough

plugins:
  - search
  - blog:
      blog_dir: blog
      archive: true
      categories: true
  - rss:
      use_material_blog: true
      match_path: "blog/posts/.*"
      date_from_meta:
        as_creation: "date.created"
        as_update: "git"

nav:
  - Home: index.md
  - Blog:
      - blog/index.md
  - RSS: https://djbambi.github.io/my-python-journey-blog/feed_rss_created.xml
